* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
@font-face {
	font-family: 'Roboto';
	src: url(‘/fonts/Roboto-Regular.woff2’) format(‘woff2’),
		url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’)
}
body
{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 0 auto;
    align-items: center;
    text-align: center;
}
header{
    margin-top: 12px;
    text-align: center;
}
.logo{
    margin-top: 5px;
    border-radius: 50%;
    border-color: black;
    min-width: 50px;
    max-width: 100px;
    min-height: 50px;
    max-height: 100px;
}
button > img,
button > span {
  vertical-align: middle;
}
button span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
button{
    min-width: 50%;
    max-width: 90%;
    min-height: 40%;
    max-height: 80%;
    margin-bottom: 10px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.links{
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    place-items: center;
}
.icons{
    min-width: 25px;
    max-width: 50px;
    min-height: 25px;
    max-height: 50px;
}
footer{
    flex: 0 0 auto;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}